html,
body,
div,
span,
h1,
img,
ol,
ul,
li,
form,
label,
caption,
aside,
article,
details,
figure,
footer,
header,
menu,
nav,
p,
h3,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
